<section id="contact">
  <div class="container">
  <p><a href="mailto:lilamartydesign@gmail.com">lilamartydesign@gmail.com <span class="divider">|</span> <a href="tel:419.460.3238">419.460.3238</a></p>
  <div class='social'>
    <a href="http://twitter.com/LilaMarieM" class='social-link' target="_blank"><img src="/assets/twitter.svg"></a>
    <a href="http://www.behance.net/LilaMarie" class='social-link' target="_blank"><img src="/assets/behance.svg"></a>
    <a href="http://instagram.com/lilamarty" class='social-link' target="_blank"><img src="/assets/instagram.svg"></a>
  </div>
  <p><a href="/assets/lila-marty-resume.pdf" class='resume-link'>Resume</a></p>
  </div>
</section>

<footer>
  <div class="container">
  <img src="/assets/footer-logo.svg" class='footer-logo'>
  <p class='copyright'>2014 © Lila Marty. All rights reserved. <a href="http://www.sarahbyer.com/">Photography by Sarah Byer.</a></p>
  </div>
</footer>